.no-ads-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .no-ads-container img {
    max-width: 100px; 
    margin-bottom: 10px;
  }

  .ad-image {
    width: 50%; 
    margin: 0 auto; 
    display: block; 
  }